#gradijent {
  width: 300px; /* Širina kontejnera */
  height: calc(6 * 30px); /* Dinamička visina bez razmaka */
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 9999;
  display: grid; /* Koristi grid za raspored kockica */
  grid-template-columns: repeat(5, 1fr); /* 5 kolona */
  grid-template-rows: repeat(6, 1fr); /* 6 redova */
  gap: 0; /* Uklonjeno - razmak između kockica */
  padding: 0; /* Uklonjeno - padding u kontejneru */
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

/* Gradijent kutije */
#gradijent .gradijent-box {
  width: 100%; /* Prilagođeno na 100% da ispuni prostor */
  height: 100%; /* Prilagođeno na 100% da ispuni prostor */
  z-index: 9999;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover efekat za kockice */
#gradijent .gradijent-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px white;
}


/* Gradijenti */
#gradijent .gradijent-box.gradient-1 {background-image: linear-gradient(45deg, #ff6347, #ffffff, #ff1493, #40e0d0); }
#gradijent .gradijent-box.gradient-2 { background-image: radial-gradient(circle, #ff6347, #ffea00, #ff1493, #00ff00); }
#gradijent .gradijent-box.gradient-3 { background-image: linear-gradient(to right, #00f, #ff6347, #ff1493, #ffea00); }
#gradijent .gradijent-box.gradient-4 { background-image: radial-gradient(circle, #00ff00, #00f, #ff1493, #ff6347); }
#gradijent .gradijent-box.gradient-5 { background-image: linear-gradient(to left, #f00, #0f0, #00f); }
#gradijent .gradijent-box.gradient-6 { background-image: radial-gradient(circle, #00ffff, #ff69b4, #1e90ff); }
#gradijent .gradijent-box.gradient-7 { background-image: linear-gradient(45deg, #4169e1, #ff1493, #00bfff); }
#gradijent .gradijent-box.gradient-8 { background-image: radial-gradient(circle, #ffff00, #ff69b4, #32cd32); }
#gradijent .gradijent-box.gradient-9 { background-image: linear-gradient(to right, #1e90ff, #ff1493, #00ff7f); }
#gradijent .gradijent-box.gradient-10 { background-image: radial-gradient(circle, #00ff00, #ff69b4, #0000cd); }

/* MUŠKE BOJE */
#gradijent .gradijent-box.gradient-11 { background-image: linear-gradient(45deg, #ffffff, #fffa00, #1e90ff, #00ff00); }
#gradijent .gradijent-box.gradient-12 { background-image: radial-gradient(circle, #add8e6, #00bfff, #32cd32, #4169e1); }
#gradijent .gradijent-box.gradient-13 { background-image: linear-gradient(to right, #f0f8ff, #7fffd4, #1e90ff, #00ff7f); }
#gradijent .gradijent-box.gradient-14 { background-image: radial-gradient(circle, #87cefa, #00ced1, #00ff00, #0000cd); }
#gradijent .gradijent-box.gradient-15 { background-image: linear-gradient(to right, #b0e0e6, #ffff00, #2e8b57, #1e90ff); }
#gradijent .gradijent-box.gradient-16 { background-image: radial-gradient(circle, #5f9ea0, #00ff7f, #1e90ff, #dcdcdc); }
#gradijent .gradijent-box.gradient-17 { background-image: linear-gradient(135deg, #00008b, #adff2f, #00ffff, #4682b4); }
#gradijent .gradijent-box.gradient-18 { background-image: radial-gradient(circle, #87ceeb, #00ff7f, #708090); }
#gradijent .gradijent-box.gradient-19 { background-image: linear-gradient(60deg, #4169e1, #7fff00, #d3d3d3); }
#gradijent .gradijent-box.gradient-20 { background-image: radial-gradient(circle, #00bfff, #ffff00, #2e8b57); }

/* ŽENSKE BOJE */
#gradijent .gradijent-box.gradient-21 { background-image: radial-gradient(circle, #ffffff, #ff69b4, #ff1493, #ffd700); }
#gradijent .gradijent-box.gradient-22 { background-image: linear-gradient(135deg, #ffffff, #ff00ff, #ffb6c1, #ffff00); }
#gradijent .gradijent-box.gradient-23 { background-image: radial-gradient(circle, #ffffff, #ff1493, #add8e6, #ff69b4); }
#gradijent .gradijent-box.gradient-24 { background-image: linear-gradient(to right, #ffffff, #ff69b4, #00ffff, #ffea00); }
#gradijent .gradijent-box.gradient-25 { background-image: radial-gradient(circle, #ffffff, #ff4500, #ffb6c1, #00ffff); }
#gradijent .gradijent-box.gradient-26 { background-image: linear-gradient(to left, #ffffff, #ff00ff, #add8e6, #ffea00, #ff1493); }
#gradijent .gradijent-box.gradient-27 { background-image: radial-gradient(circle, #ffffff, #ff00ff, #ff1493, #00ffff); }
#gradijent .gradijent-box.gradient-28 { background-image: linear-gradient(45deg, #ffffff, #ffea00, #ff00ff, #add8e6); }
#gradijent .gradijent-box.gradient-29 { background-image: radial-gradient(circle, #ffffff, #ffc0cb, #ff4500, #00ffff); }
#gradijent .gradijent-box.gradient-30 { background-image: linear-gradient(to bottom, #ffffff, #ff1493, #ffea00, #00ffff); }



#gradijent .gradijent-box.gradient-31 { background-image: radial-gradient(circle, #1e90ff, #00ff7f); }
#gradijent .gradijent-box.gradient-32 { background-image: linear-gradient(90deg, #4169e1, #32cd32); }
#gradijent .gradijent-box.gradient-33 { background-image: radial-gradient(circle, #00bfff, #008000); }
#gradijent .gradijent-box.gradient-34 { background-image: linear-gradient(to right, #0000cd, #00ff00); }
#gradijent .gradijent-box.gradient-35 { background-image: radial-gradient(circle, #1e90ff, #7fff00); }



#gradijent .gradijent-box.gradient-36 { background-image: linear-gradient(45deg, #ff4da6, #ff66cc); } /* neon roze */
#gradijent .gradijent-box.gradient-37 { background-image: radial-gradient(circle, #ff99cc, #ff4da6); } /* neon ružičasta */
#gradijent .gradijent-box.gradient-38 { background-image: linear-gradient(to right, #da70d6, #ff00ff); } /* neon ljubičasta */
#gradijent .gradijent-box.gradient-39 { background-image: radial-gradient(circle, #ff0033, #ff6666); } /* neon crvena */
#gradijent .gradijent-box.gradient-40 { background-image: linear-gradient(45deg, #ffb6b6, #ffd1dc); } /* neon breskva */
#gradijent .gradijent-box.gradient-41 { background-image: radial-gradient(circle, #e6e6fa, #d8bfff); } /* neon lavanda */
#gradijent .gradijent-box.gradient-42 { background-image: linear-gradient(to right, #ffd700, #fff700); } /* neon zlatna */
#gradijent .gradijent-box.gradient-43 { background-image: radial-gradient(circle, #00f5ff, #00ffff); } /* neon tirkiz */
#gradijent .gradijent-box.gradient-44 { background-image: linear-gradient(45deg, #00bfff, #1e90ff); } /* neon plava */
#gradijent .gradijent-box.gradient-45 { background-image: radial-gradient(circle, #ffff33, #ffff00); } /* neon žuta */
#gradijent .gradijent-box.gradient-46 { background-image: linear-gradient(to left, #39ff14, #00ff00); } /* neon zelena */
#gradijent .gradijent-box.gradient-47 { background-image: radial-gradient(circle, #8b4513, #d2691e); } /* neon kafena */
#gradijent .gradijent-box.gradient-48 { background-image: linear-gradient(45deg, #ff8c00, #ff6600); } /* neon narandžasta */
#gradijent .gradijent-box.gradient-49 { background-image: radial-gradient(circle, #a9a9a9, #d3d3d3); } /* neon siva (miš) */
#gradijent .gradijent-box.gradient-50 { background-image: linear-gradient(to right, #c0c0c0, #ffffff); } /* neon srebrna + bela */


/* Tekst sa gradijentom */
.guest[class*="gradient-"] {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

